<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Warbler</title>

  <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/popper"></script>
  <script src="https://unpkg.com/bootstrap"></script>

  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="/static/stylesheets/style.css">
  <link rel="shortcut icon" href="/static/favicon.ico">
</head>

<body class="{% block body_class %}{% endblock %}">
<nav class="navbar navbar-expand">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        <img src="/static/images/warbler-logo.png" alt="logo">
        <span>Warbler</span>
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">

      {% if request.endpoint != None %}
      <li>
        <form class="navbar-form navbar-right" action="/users">
          <input name="q" class="form-control" placeholder="Search Warbler" id="search">
          <button class="btn btn-default">
            <span class="fa fa-search"></span>
          </button>
        </form>
      </li>
      {% endif %}
      <nav class="smart-nav d-flex align-items-center"
      >
      <button 
      class="smart-nav__toggle btn btn-default btn-sm" 
      onclick="this.parentElement.querySelector('.smart-nav__menu').classList.toggle('expanded')"
      >
      <i class="fa fa-bars"></i>
    </button>
    <ul class="smart-nav__menu"
      onblur="this.classList.remove('expanded')"
      tabindex="1"
      onclick="
        event.target != this && this.classList.remove('expanded')
      "
        >
          {% if not g.user %}
          <li><a href="/signup">Sign up</a></li>
          <li><a href="/login">Log in</a></li>
          {% else %}
          <li>
            <a href="/users/{{ g.user.id }}" class="img-icon">
              <img src="{{ g.user.image_url }}" alt="{{ g.user.username }}">
            </a>
          </li>
          <li>
            <button class="btn btn-outline-success btn-sm " type="button" data-bs-toggle="modal" data-bs-target="#myModal">New Message</button>
    
          </li>
          <li><a href="/logout">Log out</a></li>
          {% endif %}
        </ul>        

      </nav>
    </ul>
  </div>
</nav>
<div class="container">
  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}

  {% block content %}
  {% endblock %}

</div>

<div style="z-index: 99999;" class="modal fade " tabindex="-1" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog mt-5">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Create new Wrabler</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% set form  = g.message_form %}
        {% set action  = url_for('messages_add') %}
        {% include 'common/new-message.form.html'   %}
      </div>
      
    </div>
  </div>
</div>

</body>
</html>