{% extends 'users/detail.html' %}
{% block user_details %}
<div class="col-sm-9">
  <h1 class="text-center">Update password</h1>
  <form class="d-flex flex-column" action="{{ url_for('change_password') }}" method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
      {{field.label(class='form-label')}}
      {{ field(placeholder=field.label.text, class="form-control") }}
    {% endfor %}
    <input type="submit" value="Update" class="btn btn-primary">
  </form>

</div>

{% endblock %}