{% extends 'base.html' %}

{% block content %}

<div id="warbler-hero" class="full-width" style="max-height: 300px;">
  <img style="object-fit: cover; object-position: 0%, 0%;" class="w-100 h-100 " src="{{ user.header_image_url }}" alt="Header image for {{ user.username }}">
</div>
<img src="{{ user.image_url }}" alt="Image for {{ user.username }}" id="profile-avatar">
<div class="row full-width">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-9">
        <ul class="user-stats nav nav-pills">
          <li class="stat">
            <p class="small">Messages</p>
            <h4>
              <a href="/users/{{ user.id }}">{{ user.messages | length }}</a>
            </h4>
          </li>
          <li class="stat">
            <p class="small position-relative ">
              Following
              {% set total_awatings = (g.user.awaiting_requests | selectattr("status", "eq", "pending")) | list | length %}
              {% if total_awatings > 0 %}
                <span style="margin-top: -4px;" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  <span>{{ total_awatings }}</span>
                  <span class="visually-hidden">waiting requests</span>
                </span>
              {% endif %}
            </p>
            <h4>
              <a href="/users/{{ user.id }}/following">{{ user.following | length }}</a>
            </h4>
          </li>
          <li class="stat">
            <p class="small position-relative ">
              Followers
              {% set total_pendings = (g.user.pending_requests | selectattr("status", "eq", "pending")) | list | length %}
              {% if total_pendings > 0 %} 
                <span style="margin-top: -4px;" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  <span>{{ total_pendings }}</span>
                  <span class="visually-hidden">pending requests</span>
                </span>
              {% endif %}
            </p>
            <h4>
              <a href="/users/{{ user.id }}/followers">{{ user.followers | length }}</a>
            </h4>
          </li>
          <li class="stat">
            <p class="small">Likes</p>
            <h4><a href="/users/{{ user.id }}/likes">{{ user.likes | length }}</a></h4>
          </li>
          <div class="ml-auto gap-2">
            {% if g.user.id == user.id %}
            <a href="/users/profile" class="btn btn-sm btn-outline-secondary">Edit Profile</a>
            <form method="POST" action="/users/delete" class="form-inline">
              <button class="btn btn-sm btn-outline-danger ml-2">Delete Profile</button>
            </form>
            <a href="{{url_for('change_password')}}" class="btn btn-sm btn-outline-secondary">Update Password</a>

            {% elif g.user %}
              {% if g.user.is_following(user) %}
              <form method="POST" action="/users/stop-following/{{ user.id }}">
                <button class="btn btn-sm btn-primary">Unfollow</button>
              </form>
              {% else %}
              <form method="POST" action="/users/follow/{{ user.id }}">
                <button class="btn btn-sm btn-outline-primary">Follow</button>
              </form>
              {% endif %}
            {% endif %}
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <h4 id="sidebar-username">@{{ user.username }} 
      {% if user.is_private %}
      <span class="badge text-bg-danger ms-1">private</span>
      {% else %}
      <span class="badge text-bg-success ms-1">public</span>
      {% endif %}
    </h4>
    {% if user.bio %}
      <p>{{ user.bio }}</p>
    {% else %}
      <p class="fst-italic text-secondary  ">Bio is empty</p>
    {% endif %}
    <p class="user-location"><span class="fa fa-map-marker me-1"></span>
      {{user.location if user.location else 'No location provided'}}
    </p>
    {% if g.user.id == user.id %}
      
      <form action="{{url_for('user_change_status', user_id=g.user.id)}}" method="POST">
        <input type="hidden" name="is_private" value="{{not g.user.is_private}}">
        <input type="submit" class="btn btn-sm  btn-outline-{{'danger' if not g.user.is_private else 'success'}}" value="{{ 'Go private' if not g.user.is_private else 'Go public'}}">
      </form>
    {% endif %}
  </div>

  {% block user_details %}
  {% endblock %}

</div>

{% endblock %}