{% extends 'users/detail.html' %}

{% block user_details %}
  <div class="col-md-9">
    {% if g.user.id == user.id %}
      
      <div class="row">
        <div class="col-12 ">
          {% for request in g.user.pending_requests %}
            <div class="small alert alert-info ">
              You've received a follow request from 
              <a href="{{url_for('users_show', user_id=request.requester.id)}}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">@{{request.requester.username}}</a>
              <span class="fw-light fst-italic opacity-50">{{request.created_at | get_age}} ago</span>
              <span class="badge bg-{{'danger' if request.status == 'canceled' else 'success' if request.status == 'accepted' else 'info'}}">{{request.status}}</span>
              {% if request.status == 'pending' %}
                <form action="" class="mt-1">
                  <button formaction="{{url_for('deny_follow_request', request_id=request.id)}}" formmethod="POST" class="btn btn-sm btn-outline-danger">Deny</button>
                  <button formaction="{{url_for('accept_follow_request', request_id=request.id)}}" formmethod="POST" class="btn btn-sm btn-outline-success">Accept</button>
                </form>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <div class="row">
      {% if user not in g.user.blocked_users and g.user not in user.blocked_users %}
        {% for follower in user.followers %}
          <div class="col-lg-4 col-md-6 col-12">
            <div class="card user-card">
              <div class="card-inner">
                <div class="image-wrapper">
                  <img src="{{ follower.header_image_url }}" alt="" class="card-hero">
                </div>
                <div class="card-contents">
                  <a href="/users/{{ follower.id }}" class="card-link">
                    <img src="{{ follower.image_url }}" alt="Image for {{ follower.username }}" class="card-image">
                    <p>@{{ follower.username }}</p>
                  </a>

                  {% if g.user.is_following(follower) %}
                    <form method="POST"
                          action="/users/stop-following/{{ follower.id }}">
                      <button class="btn btn-primary btn-sm">Unfollow</button>
                    </form>
                  {% else %}
                    <form method="POST" action="/users/follow/{{ follower.id }}">
                      <button class="btn btn-outline-primary btn-sm">Follow</button>
                    </form>
                  {% endif %}

                </div>
                <p class="card-bio">{{follower.bio}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p class="fst-italic opacity-50">You can't see this user's followers</p>
      {% endif %}

    </div>
  </div>

{% endblock %}