{% extends 'users/detail.html' %}
{% block user_details %}
  <div class="col-md-6">
    {% if g.user.id == user.id or g.user.is_following(user) or not user.is_private and (g.user not in user.blocked_users and user not in g.user.blocked_users)  %}
      <ul class="list-group" id="messages">
        {% for message in messages %}
          {% include 'common/message.fragment.html' ignore missing with context %}
        {% endfor %}
      </ul>
    {% else %}
      <p class="fst-italic opacity-50">You can't see this user's messages</p>
    {% endif %}
  </div>
{% endblock %}